<div class="footer text-muted border">
  <div class="d-flex justify-content-around">
    <span class="">Spoonful</span>
    <span class="">
      <small>
        <%= Date.current.year %> © ChefRay Group
      </small>
    </span>
  </div>
</div>
