<nav class="navbar navbar-light bg-light fixed-top">
<a class="navbar-brand" href=<%= root_path %>>
    <%= image_tag "logo.png", { width:"30", height:"30", class:"d-inline-block align-top", alt:"" }%>
    Spoonful
  </a>
</nav>
